html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center; /* 文本居中对齐 */
  background-color: #e1dada85; /* 设置背景颜色为深红色 */
  min-height: 100vh; /* 确保背景覆盖整个视口高度 */
}

.App-logo {
  width: 80px;           /* 新增：设置宽度 */
  height: 80px;          /* 新增：设置高度 */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5e9ee; /* 设置头部背景颜色为蓝灰色 */
  min-height: 100vh; /* 确保头部区域高度覆盖整个视口 */
  display: flex; /* 使用 Flexbox 布局 */
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center; /* 子元素水平居中 */
  justify-content: center; /* 子元素垂直居中 */
  font-size: calc(10px + 2vmin); /* 根据视口宽度动态调整字体大小 */
  color: white; /* 设置文本颜色为白色 */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 顶部导航栏样式 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fafbff;
  padding: 10px 0;
  z-index: 1000;
}

.navbar-item {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

/* 鼠标悬停时触发动画 */
.navbar-item:hover {
  background-color: #61dafb;
  animation: shake 0.5s ease-in-out; /* 添加动画 */
}

/* 定义动画效果 */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

